<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DevInfo.Lib.DI_LibBAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DevInfo.Lib.DI_LibBAL.Properties.Settings>
            <setting name="DI_LibBAL_DIWWSRegistration_UserRegistration"
                serializeAs="String">
                <value>http://www.devinfo.info/DI6WorldWideWebService/UserRegistration.asmx</value>
            </setting>
            <setting name="DI_LibBAL_DIWWSStatus_UserOnlineStatus" serializeAs="String">
                <value>http://www.devinfo.info/DI6WorldWideWebService/UserOnlineStatus.asmx</value>
            </setting>
            <setting name="DI_LibBAL_DIWWSUtility_Utility" serializeAs="String">
                <value>http://www.devinfo.info/DI6WorldWideWebService/Utility.asmx</value>
            </setting>
            <setting name="DI7_LibBAL_DIMapServerWS_Utility" serializeAs="String">
                <value>http://www.devinfo.org/di7webservices/Utility.asmx</value>
            </setting>
            <setting name="DI7_LibBAL_SDMXRegistry_RegistryService" serializeAs="String">
                <value>http://www.devinfo.org/libraries/ws/Registryservice.asmx</value>
            </setting>
        </DevInfo.Lib.DI_LibBAL.Properties.Settings>
    </applicationSettings>
</configuration>