SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_DELETE_CATALOG]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROC [dbo].[SP_DELETE_CATALOG]
	@ADAPTATION_NID AS INT
AS
BEGIN
	DELETE FROM ADAPTATIONS WHERE NID = @ADAPTATION_NID;
END' 
END
