SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_GET_CATALOG_CACHE_RESULTS_EN]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROC [dbo].[SP_GET_CATALOG_CACHE_RESULTS_EN]
(
@SearchAreas NVARCHAR(4000),
@SearchIndicators NVARCHAR(4000)
)
AS
BEGIN

	DECLARE @I INT
	DECLARE @MAX INT

declare @tmp_Area_Name nvarchar(4000)
declare @tmp_Indicator_Name nvarchar(4000)

	SET @I = 0

	--SET @AREAS = ''AFRICA'' --''ASIA AFRICA SUDAN''
	--SET @INDICATORS = ''CHILD INFANT'' -- ''INFANT CHILD''

	CREATE TABLE #SEARCHED_AREA_INDICATOR_COMBINATIONS
	(
		ID INT IDENTITY(0,1),
		AREA NVARCHAR(4000),
		INDICATOR NVARCHAR(4000)
	)

	CREATE TABLE #SEARCHED_AREA
	(
		ID INT IDENTITY(0,1),
		AREA NVARCHAR(4000)
	)
	CREATE TABLE #SEARCHED_INDICATOR
	(
		ID INT IDENTITY(0,1),
		INDICATOR NVARCHAR(4000)
	)
	CREATE TABLE #CACHE_AREA_INDICATOR_NIDS
	(
		ID INT IDENTITY(0,1),
		AREA_ADPT_NID NVARCHAR(4000),
		INDICATOR_ADPT_NID NVARCHAR(4000)
	)

	CREATE TABLE #RESULT_ADAPTATIONS
	(
	ID INT IDENTITY(0,1),
	ADPT_NID INT
	)


	INSERT INTO #SEARCHED_AREA(area)
	SELECT ITEMS FROM DBO.SPLIT(@SEARCHAREAS, '' '')

	INSERT INTO #SEARCHED_INDICATOR(indicator)
	SELECT ITEMS FROM DBO.SPLIT(@SEARCHINDICATORS, '' '')


	INSERT INTO #SEARCHED_AREA_INDICATOR_COMBINATIONS(AREA, INDICATOR)
	SELECT A.Area AS ''AREA'', I.indicator AS ''INDICATORS''
	FROM #SEARCHED_AREA A, #SEARCHED_INDICATOR I

	DECLARE @COUNT_SEARCHED_A INT
	DECLARE @COUNT_SEARCHED_I INT
	DECLARE @COUNT_SEARCHED_AI INT

	SET @COUNT_SEARCHED_A = (SELECT COUNT(*) FROM #SEARCHED_AREA)
	SET @COUNT_SEARCHED_I = (SELECT COUNT(*) FROM #SEARCHED_INDICATOR)
	SET @COUNT_SEARCHED_AI = (SELECT COUNT(*) FROM #SEARCHED_AREA_INDICATOR_COMBINATIONS)

	IF (@COUNT_SEARCHED_AI <> 0)

	BEGIN
	
		WHILE(@I < @COUNT_SEARCHED_AI)
			BEGIN				

				SET @TMP_AREA_NAME = (SELECT TOP 1 AREA FROM #SEARCHED_AREA_INDICATOR_COMBINATIONS WHERE ID = @I)
				SET @TMP_indicator_NAME = (SELECT TOP 1 indicator FROM #SEARCHED_AREA_INDICATOR_COMBINATIONS WHERE ID = @I)
				
				INSERT INTO #RESULT_ADAPTATIONS(ADPT_NID)
				SELECT I.ADPT_NID
				FROM DBO.INDEXEDAREAS A, DBO.INDEXEDINDICATORS I
				WHERE A.ADPT_NID = I.ADPT_NID
				AND A.AREA_NAME LIKE ''%'' + @TMP_AREA_NAME + ''%''
				AND I.INDICATOR_NAME LIKE ''%'' + @TMP_INDICATOR_NAME + ''%''	

				SET @I = @I + 1		

			END
	
	END

	ELSE

	BEGIN
	
		-- Only areas are searched
		IF(@COUNT_SEARCHED_A <> 0)
		BEGIN

			WHILE(@I < @COUNT_SEARCHED_A)
			BEGIN

				SET @TMP_AREA_NAME = (SELECT TOP 1 AREA FROM #SEARCHED_AREA WHERE ID = @I)

				INSERT INTO #RESULT_ADAPTATIONS(ADPT_NID)
				SELECT DISTINCT ADPT_NID FROM DBO.INDEXEDAREAS
				WHERE AREA_NAME LIKE ''%'' + @TMP_AREA_NAME + ''%''

				SET @I = @I + 1
			END

		END

		SET @I = 0	

		-- Only indicators are searched
		IF(@COUNT_SEARCHED_I <> 0)
		BEGIN

			WHILE(@I < @COUNT_SEARCHED_I)
			BEGIN

				SET @TMP_INDICATOR_NAME = (SELECT TOP 1 INDICATOR FROM #SEARCHED_INDICATOR WHERE ID = @I)

				INSERT INTO #RESULT_ADAPTATIONS(ADPT_NID)
				SELECT DISTINCT ADPT_NID FROM DBO.INDEXEDINDICATORS
				WHERE INDICATOR_NAME LIKE ''%'' + @TMP_INDICATOR_NAME + ''%''

				SET @I = @I + 1
			END

		END
	
	END

SELECT * FROM #RESULT_ADAPTATIONS



	DROP TABLE #SEARCHED_AREA_INDICATOR_COMBINATIONS
	DROP TABLE #CACHE_AREA_INDICATOR_NIDS

END

' 
END
