SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_GET_M49_COUNTRIES]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROC [dbo].[SP_GET_M49_COUNTRIES]
AS
BEGIN
	SELECT AREANID, AREANAME, AREAID FROM AREAS WHERE AREALEVEL = 2
	ORDER BY AREANAME
END
' 
END
