SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_GET_ADAPTATION_NID_AND_DELETE_INDEXED]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROC [dbo].[SP_GET_ADAPTATION_NID_AND_DELETE_INDEXED]
	@ONLINE_URL NVARCHAR(4000),
	@TABLE_TYPE NVARCHAR(20)
AS
BEGIN
	DECLARE @ADPT_NID INT

	SET @ADPT_NID = (SELECT NID FROM ADAPTATIONS WHERE ONLINE_URL = @ONLINE_URL)
	
	IF(@TABLE_TYPE = ''AREA'')
	BEGIN
		DELETE FROM INDEXEDAREAS WHERE ADPT_NID = @ADPT_NID
	END

	IF(@TABLE_TYPE = ''INDICATOR'')
	BEGIN
		DELETE FROM INDEXEDINDICATORS WHERE ADPT_NID = @ADPT_NID
	END

	SELECT @ADPT_NID 
END

' 
END
