SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_GET_CATALOG_CACHE_RESULTS_EN]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[SP_GET_MATCHED_INDEXED_AREAS]
@SEARCH_AREAS NVARCHAR(4000),
@LANGUAGE_CODE NVARCHAR(2)
AS
BEGIN

DECLARE @TMP_AREA_NAME NVARCHAR(4000)
DECLARE @COUNT_SEARCHED_A INT
DECLARE @I INT

SET @I = 0

CREATE TABLE #RESULT_AREAS
(
AREA_NID INT,
AREA_PARENT_NID INT,
AREA_NAME NVARCHAR(4000),
ADPT_NID INT
)

CREATE TABLE #SEARCHED_AREA
(
	ID INT IDENTITY(0,1),
	AREA NVARCHAR(4000)
)

INSERT INTO #SEARCHED_AREA(area)
SELECT ITEMS FROM DBO.SPLIT(@SEARCH_AREAS, '','')


SET @COUNT_SEARCHED_A = (SELECT COUNT(*) FROM #SEARCHED_AREA)

IF(@COUNT_SEARCHED_A <> 0)
	BEGIN

		WHILE(@I < @COUNT_SEARCHED_A)
		BEGIN

			SET @TMP_AREA_NAME = (SELECT TOP 1 AREA FROM #SEARCHED_AREA WHERE ID = @I)

			IF(@LANGUAGE_CODE = 'ar')
				BEGIN
					INSERT INTO #RESULT_AREAS(AREA_NID, AREA_PARENT_NID,AREA_NAME,ADPT_NID)
					SELECT DISTINCT AREA_NID, AREA_PARENT_NID, AREA_NAME, ADPT_NID FROM DBO.INDEXEDAREAS
					WHERE SOUNDEX(AREA_NAME) = SOUNDEX(LTRIM(RTRIM(@TMP_AREA_NAME)))
					AND LANGUAGE_CODE = @LANGUAGE_CODE			
				END			
			ELSE
				BEGIN
					INSERT INTO #RESULT_AREAS(AREA_NID, AREA_PARENT_NID,AREA_NAME,ADPT_NID)
					SELECT DISTINCT AREA_NID, AREA_PARENT_NID, AREA_NAME, ADPT_NID FROM DBO.INDEXEDAREAS
					WHERE AREA_NAME LIKE '%' + LTRIM(RTRIM(@TMP_AREA_NAME)) + '%'
					AND LANGUAGE_CODE = @LANGUAGE_CODE				
				END

			SET @I = @I + 1
		END

	END


select * from #RESULT_AREAS


' 
END
