SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_INSERT_CATALOG]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROC [dbo].[SP_INSERT_CATALOG]	
	@NAME NVARCHAR(4000),
	@DESCRIPTION NVARCHAR(4000),
	@DI_VERSION NVARCHAR(50),
	@IS_DESKTOP BIT,
	@IS_ONLINE BIT,
	@ONLINE_URL NVARCHAR(4000),
	@AREA_COUNT INT,
	@IUS_COUNT INT,
	@TIME_PERIODS_COUNT INT,
	@DATA_VALUES_COUNT INT,	
	@START_YEAR NVARCHAR(50),
	@END_YEAR NVARCHAR(50),	
	@LAST_MODIFIED NVARCHAR(50),
	@AREA_NID INT,
	@SUB_NATION NVARCHAR(4000),
	@THUMBNAIL_IMAGE_URL NVARCHAR(4000),
	@DB_ADM_NAME NVARCHAR(4000),
	@DB_ADM_INSTITUTION NVARCHAR(4000),
	@DB_ADM_EMAIL NVARCHAR(4000),
	@UNICEF_REGION NVARCHAR(4000),
	@ADAPTATION_YEAR NVARCHAR(4),
	@DB_LANGUAGES NVARCHAR(4000)
AS
	DECLARE @REC_COUNT INT

BEGIN
	IF(@DI_VERSION = ''-1'')
	BEGIN
		SET @DI_VERSION = (SELECT MAX(VER_NID) FROM ADAPTATIONVERSION)
	END

	IF(@IS_DESKTOP=1)
		BEGIN
			INSERT INTO ADAPTATIONS
			(
				NAME,
				DESCRIPTION,
				DI_VERSION, 
				IS_DESKTOP,
				IS_ONLINE,
				ONLINE_URL, 
				AREA_COUNT,
				IUS_COUNT,
				TIME_PERIODS_COUNT,
				DATA_VALUES_COUNT,		
				START_YEAR,
				END_YEAR,		
				LAST_MODIFIED,
				AREA_NID,
				SUB_NATION,
				THUMBNAIL_IMAGE_URL,
				DB_ADM_NAME,
				DB_ADM_INSTITUTION,
				DB_ADM_EMAIL,
				UNICEF_REGION,
				ADAPTATION_YEAR,
				DB_LANGUAGES
			)
			VALUES
			(
				@NAME,
				@DESCRIPTION,
				@DI_VERSION, 
				@IS_DESKTOP,
				@IS_ONLINE,
				@ONLINE_URL, 
				@AREA_COUNT,
				@IUS_COUNT,
				@TIME_PERIODS_COUNT,
				@DATA_VALUES_COUNT,		
				@START_YEAR,
				@END_YEAR,		
				@LAST_MODIFIED,
				@AREA_NID,
				@SUB_NATION,
				@THUMBNAIL_IMAGE_URL,
				@DB_ADM_NAME,
				@DB_ADM_INSTITUTION,
				@DB_ADM_EMAIL,
				@UNICEF_REGION,
				@ADAPTATION_YEAR,
				@DB_LANGUAGES,
				@LangCode_CSVFiles NVARCHAR(4000)
			)	
		END
	
	IF(@IS_ONLINE=1)
		BEGIN
			SET @REC_COUNT = (SELECT COUNT(*) FROM ADAPTATIONS 
				WHERE ONLINE_URL = @ONLINE_URL)

			IF (@REC_COUNT = 0)
				BEGIN
					INSERT INTO ADAPTATIONS
					(
						NAME,
						DESCRIPTION,
						DI_VERSION, 
						IS_DESKTOP,
						IS_ONLINE,
						ONLINE_URL, 
						AREA_COUNT,
						IUS_COUNT,
						TIME_PERIODS_COUNT,
						DATA_VALUES_COUNT,		
						START_YEAR,
						END_YEAR,		
						LAST_MODIFIED,
						AREA_NID,
						SUB_NATION,
						THUMBNAIL_IMAGE_URL,
						DB_ADM_NAME,
						DB_ADM_INSTITUTION,
						DB_ADM_EMAIL,
						UNICEF_REGION,
						ADAPTATION_YEAR,
						DB_LANGUAGES,
						LangCode_CSVFiles
						
					)
					VALUES
					(
						@NAME,
						@DESCRIPTION,
						@DI_VERSION, 
						@IS_DESKTOP,
						@IS_ONLINE,
						@ONLINE_URL, 
						@AREA_COUNT,
						@IUS_COUNT,
						@TIME_PERIODS_COUNT,
						@DATA_VALUES_COUNT,		
						@START_YEAR,
						@END_YEAR,		
						@LAST_MODIFIED,
						@AREA_NID,
						@SUB_NATION,
						@THUMBNAIL_IMAGE_URL,
						@DB_ADM_NAME,
						@DB_ADM_INSTITUTION,
						@DB_ADM_EMAIL,
						@UNICEF_REGION,
						@ADAPTATION_YEAR,
						@DB_LANGUAGES,
						@LangCode_CSVFiles
							
					)	
				END
			ELSE
				BEGIN
					UPDATE ADAPTATIONS SET
						NAME = @NAME,
						DESCRIPTION = @DESCRIPTION,
						DI_VERSION = @DI_VERSION, 
						IS_DESKTOP = @IS_DESKTOP,
						IS_ONLINE = @IS_ONLINE,				
						AREA_COUNT = @AREA_COUNT,
						IUS_COUNT = @IUS_COUNT,
						TIME_PERIODS_COUNT = @TIME_PERIODS_COUNT,
						DATA_VALUES_COUNT = @DATA_VALUES_COUNT,		
						START_YEAR = @START_YEAR,
						END_YEAR = @END_YEAR,
						LAST_MODIFIED = @LAST_MODIFIED,
						AREA_NID = @AREA_NID,
						SUB_NATION = @SUB_NATION,
						THUMBNAIL_IMAGE_URL = @THUMBNAIL_IMAGE_URL,
						DB_ADM_NAME = @DB_ADM_NAME,
						DB_ADM_INSTITUTION = @DB_ADM_INSTITUTION,
						DB_ADM_EMAIL = @DB_ADM_EMAIL,
						UNICEF_REGION = @UNICEF_REGION,
						ADAPTATION_YEAR = @ADAPTATION_YEAR,
						DB_LANGUAGES = @DB_LANGUAGES,
						LangCode_CSVFiles = @LangCode_CSVFiles
						WHERE ONLINE_URL = @ONLINE_URL
				END
			END
END

' 
END
