set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_UPDATE_CATALOG]	
	@ADAPTATION_NID INT,
	@NAME NVARCHAR(4000),
	@DESCRIPTION NVARCHAR(4000),
	@DI_VERSION NVARCHAR(50),
	@IS_DESKTOP BIT,
	@IS_ONLINE BIT,
	@ONLINE_URL NVARCHAR(4000),
	@AREA_COUNT INT,
	@IUS_COUNT INT,
	@TIME_PERIODS_COUNT INT,
	@DATA_VALUES_COUNT INT,	
	@START_YEAR NVARCHAR(50),
	@END_YEAR NVARCHAR(50),	
	@LAST_MODIFIED NVARCHAR(50),
	@AREA_NID INT,
	@SUB_NATION NVARCHAR(4000),
	@THUMBNAIL_IMAGE_URL NVARCHAR(4000),
	@DB_ADM_NAME NVARCHAR(4000),
	@DB_ADM_INSTITUTION NVARCHAR(4000),
	@DB_ADM_EMAIL NVARCHAR(4000),
	@UNICEF_REGION NVARCHAR(4000),
	@ADAPTATION_YEAR NVARCHAR(4),
	@DB_LANGUAGES NVARCHAR(4000)
AS
BEGIN
	UPDATE ADAPTATIONS SET
		NAME = @NAME,
		DESCRIPTION = @DESCRIPTION,
		DI_VERSION = @DI_VERSION, 
		IS_DESKTOP = @IS_DESKTOP,
		IS_ONLINE = @IS_ONLINE,				
		AREA_COUNT = @AREA_COUNT,
		IUS_COUNT = @IUS_COUNT,
		TIME_PERIODS_COUNT = @TIME_PERIODS_COUNT,
		DATA_VALUES_COUNT = @DATA_VALUES_COUNT,		
		START_YEAR = @START_YEAR,
		END_YEAR = @END_YEAR,
		LAST_MODIFIED = @LAST_MODIFIED,
		AREA_NID = @AREA_NID,
		SUB_NATION = @SUB_NATION,
		THUMBNAIL_IMAGE_URL = @THUMBNAIL_IMAGE_URL,
		DB_ADM_NAME = @DB_ADM_NAME,
		DB_ADM_INSTITUTION = @DB_ADM_INSTITUTION,
		DB_ADM_EMAIL = @DB_ADM_EMAIL,
		UNICEF_REGION = @UNICEF_REGION,
		ADAPTATION_YEAR = @ADAPTATION_YEAR,
		DB_LANGUAGES = @DB_LANGUAGES
		WHERE NID = @ADAPTATION_NID
END
