/* Home Video Panel ...starts*
.hm_vid_pnl_contnr{ right:3px }
.hm_vid_pnl{ left:9px; }
/* Home Video Panel ...ends*

/* From home_slider.css ...starts*
#slider { width:95% }
.li_img_pos{ padding-left: 13px; *padding-left: 17px; padding-left: 18px\9; }
.win.gecko .li_img_pos{ padding-left: 17px; }*/
/* From home_slider.css ...ends*/

/* From home_slider.css ...starts*/
/* From home_slider.css ...ends*/