<div id="divPrintReadyArea" style="height:20px">
    <table width="700" border="0"  cellpadding="0" cellspacing="0">
        <!--<tr class="bodytext">
            <td height="29">
                <table width="700" border="0" align="left" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="10" height="29" valign="top" background="../libraries/aspx/diorg/images/top_left_bg2.gif">
                        </td>
                        <td width="578" height="29" background="../libraries/aspx/diorg/images/top_bg.gif"
                            style="background-repeat: repeat-x; background-color: #e3e3e3;" class="mainheadings_center">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="81%" height="40" class="mainheadings_center">
                                        <strong>#Title</strong><em class="mainheadings_center2"> (#Date)</em>
                                    </td>
                                    <td width="19%" height="35">
                                        <table width="95%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="31%" height="29" align="center">
                                                    <a href="#PdfUrl">
                                                        <img src="../libraries/aspx/diorg/images/download_pdf.gif" alt="Download PDF" width="25"
                                                            height="19" border="0" /></a>
                                                </td>
                                                <td width="33%" height="29" align="center">
                                                    <a href="javascript:printSpecialForArticles('width=1,height=1');">
                                                        <img src="../libraries/aspx/diorg/images/printer.gif" alt="Print News" width="25"
                                                            height="19" border="0" /></a>
                                                </td>
                                                <td width="36%" align="center">
                                                    <a href="javascript:mailpageByTitle('#Title')">
                                                        <img src="../libraries/aspx/diorg/images/forward.gif" alt="Print News" width="25"
                                                            height="19" hspace="6" border="0" /></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="10" height="29" valign="top" background="../libraries/aspx/diorg/images/top_right_bg2.gif">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>-->
        <tr>
            <td valign="top" background="../libraries/aspx/diorg/images/middle_bgcenter.gif">
                <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
                    #MainContent
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="10" height="14" valign="top">
                        </td>
                        <td width="578" height="14" background="../libraries/aspx/diorg/images/bottom_bg.gif">
                        </td>
                        <td width="10" height="14" valign="top">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<map name="Map" id="Map">
    <area shape="rect" coords="10,9,212,70" href="../di_news.html" />
</map>
