<table id="MainTable" width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
<!--    <tr>
        <td height="15" valign="top">
        </td>
    </tr>-->
    <tr>
        <td height="450" valign="top">
            <table id="TablePager" border="0" cellpadding="0" cellspacing="0" class="bodytext"
                style="padding-left: 25px; padding-right: 20px; width: 100%">
                <div class="Pagination Pagination_Float" id="PagerTr">
                </div>
            </table>
            <table id="MainTableForNewsList" width="94%" border="0" align="center" cellpadding="0"
                cellspacing="0" class="bodytext">
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <table width="598" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="10" height="14" valign="top">
                    </td>
                    <td width="578" height="14" background="../libraries/aspx/diorg/images/bottom_bg.gif">
                    </td>
                    <td width="10" height="14" valign="top">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
