
    <table id="MainTable" width="700" border="0" align="left" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td height="29">
                    <table width="598" border="0" align="left" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="10" height="29" valign="top">
                                </td>
                                <td width="578" height="29" background="./Millennium Development Goal Facts - DevInfo facts - DevInfo_files/top_bg.gif"
                                    class="mainheadings_center">
                                    Facts. You decide.
                                </td>
                                <td width="10" height="29" valign="top">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="450" valign="top">
                    <table width="94%" border="0" align="center" cellpadding="0" cellspacing="0" class="bodytext">
                        <tbody>
                            <tr>
                                <td height="15">
                                </td>
                            </tr>
                            <tr>
                                <td height="15" class="txt_aln_justfy">
                                    The Millennium Development Goals (MDGs) are eight goals to be achieved by 2015 that
                                    respond to the world's main development challenges. The MDGs are drawn from the
                                    actions and targets contained in the Millennium Declaration that was adopted by
                                    189 nations&nbsp;during the UN Millennium Summit in September 2000. The facts below
                                    help provide a clearer picture of the world's progress towards achieving the eight&nbsp;MDGs.
                                </td>
                            </tr>
                            <tr>
                                <td height="15">
                                </td>
                            </tr>
                            <table id="TablePager" border="0" cellpadding="0" cellspacing="0" class="bodytext"
                                style="padding-left: 25px; padding-right: 20px; padding-top: 10px; width: 100%">
                                <div class="Pagination" id="PagerTr">
                                </div>
                            </table>
                            <table id="MainTableForNewsList" width="94%" border="0" align="center" cellpadding="0"
                                cellspacing="0" class="bodytext">
                            </table>
                            <tr>
                                <td valign="top" height="25">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <table width="598" border="0" align="right" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="10" height="14" valign="top">
                                </td>
                                <td width="578" height="14" background="./Millennium Development Goal Facts - DevInfo facts - DevInfo_files/bottom_bg.gif">
                                </td>
                                <td width="10" height="14" valign="top">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

