<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DevInfo - di Facts</title>
<link rel="alternate" type="application/rss+xml" title="Latest News" href="../rss_news.xml">
<link rel="alternate" type="application/rss+xml" title="Fact of the Week" href="../rss_facts.xml">
<link rel="alternate" type="application/rss+xml" title="New Online Adaptations" href="../rss_online_adaptations.xml">
<link rel="alternate" type="application/rss+xml" title="New Worldwide Adaptations" href="../rss_worldwide_adaptations.xml">
<link href="../libraries/aspx/diorg/css/style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="../DI.ico"/>
<script src="../Scripts/AC_RunActiveContent.js" language="javascript"></script>
</head>
<body>
<table width="700" border="0" align="left" cellpadding="0" cellspacing="0" class="bodytext">
              <tr>
                <td height="29"><table width="598" border="0" align="left" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="10" height="29" valign="top"></td>
                      <td width="578" height="29" background="../libraries/aspx/diorg/images/top_bg.gif" class="mainheadings_center">Facts. You decide.</td>
                      <td width="10" height="29" valign="top"></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td height="450" valign="top" background="../libraries/aspx/diorg/images/middle_bgcenter.gif"><table width="94%" border="0" align="center" cellpadding="1" cellspacing="0">
                  <tr>
                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td valign="top"><table width="30%" border="0" cellpadding="4" cellspacing="0" style="border:1px solid #999999">
                              <tr>
                                <td width="100%" valign="top" bgcolor="#FFFFFF" class="bodytext"><p><strong>#Summary</strong></p></td>
                              </tr>
                              <tr>
                                <td bgcolor="#FFFFFF"><img src="../libraries/aspx/diorg/facts/images/di_logo.gif" width="130" height="41" /></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>

                        <tr>
                          <td class="bodytext"><strong>#Title</strong></td>
                        </tr>
                        <tr>
                          <td valign="top"><img src="../libraries/aspx/diorg/images/spacer.gif" width="1" height="10" /></td>
                        </tr>

                    </table></td>
                  </tr>
                  <tr>
                    <td>#MainContent</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td valign="top"><table width="598" border="0" align="right" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="10" height="14" valign="top"></td>
                    <td width="578" height="14" background="../libraries/aspx/diorg/images/bottom_bg.gif"></td>
                    <td width="10" height="14" valign="top"></td>
                  </tr>
                </table></td>
              </tr>
            </table>
<map name="Map" id="Map"><area shape="rect" coords="11,5,210,67" href="../di_facts.html" />
</map>
<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=4986744; 
var sc_invisible=1; 
var sc_partition=57; 
var sc_click_stat=1; 
var sc_security="4d9562de";
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script><noscript><div class="statcounter"><a title="hits counter" href="http://www.statcounter.com/free_hit_counter.html" target="_blank"><img class="statcounter" src="http://c.statcounter.com/4986744/0/4d9562de/1/" alt="hits counter" >
</a></div></noscript>
<!-- End of StatCounter Code -->
<!-- Start of Google StatCounter Code -->
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8601953-3");
pageTracker._trackPageview();
} catch(err) {}</script> 
<!-- End of Google StatCounter Code -->
</body>
</html>
