<tr id="TrArticleLink">
    <td >
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr id="TrArticleTitle" align="left" valign="top">
                    <td valign="top" width="100%" colspan="2">
                        <p class="pddn_bt_tn">
                            <a class="Font_sz_Large fnt_bld" id="AncArticleUrlForTitle" href="{0}">{1}</a></p>
                    </td>
                </tr>
                <tr id="TrArticleContaintainer" align="left" valign="top">
                    <td id="TdImg" class="pddn_rt_tn" align="left" valign="top" width="20%" style="display:none;">
                        <a id="AncArticleUrlForImg" href="{0}">
                            <img src="{3}" id="ImgThumbNail" class="reflect ropacity30 " height="85" width="140" border="0" />
                        </a>
                    </td>
                    <td align="left" valign="top" width="80%">
                        <table border="0" cellpadding="2" cellspacing="0" width="100%">
                            <tbody>
                                <tr id="TrArticleSummary" class="news_Text_Style" style="height: 50px">
                                    <td align="justify" valign="top" width="100%" class="bodytext">
                                        {4}
                                    </td>
                                </tr>
                                <tr id="TrDateNEditoptions" height="40%">
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr id="TrDateNMorlLink" style="display:none;">
                                                    <td id="TdDate" align="left" style="width: 100%;">
                                                        <span id="SpanDate" class="adaptation_italic" style="display:none;">{2}</span>
                                                    </td>
                                                    <td id="TdMore" align="right" height="20" width="auto;">
                                                        <a id="AncArticleUrlForMore" href="{0}" style="display:none;">More </a>
                                                    </td>
                                                    <td id="TdMoreArrow" align="right" height="20" style="padding:0px 21px 13px 2px;">
                                                        &nbsp;<img id="ImgMoreArrow" src="../libraries/aspx/diorg/images/arrow.gif" class="arrow_align" height="9"
                                                            width="4" style="display:none;">
                                                    </td>
                                                </tr>
                                                <tr id="TrOptions"  align="left">
                                                    <td  align="left" height="60" style="display:{5}" class="wdth_auto" colspan="3">
                                                        <a id="AncUnHideArticle" style="display: {6};" runat="server" href="{8}">Unhide
                                                        </a><a id="AncHideArticle" style="display: {7};" runat="server" href="{8}">Hide</a>
                                                        <span class="news_line_seprator_span">|</span> <a id="AncEditArticle" runat="server"
                                                            href="../libraries/aspx/EditCmsContents.aspx?PN={12}&CP={10}{11}">Edit </a><span
                                                                class="news_line_seprator_span">|</span> <a id="AncDeleteArticle" runat="server"
                                                                    href="{9}">Delete </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td class="separator_border">
    </td>
</tr>
