<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<title>#Title</title>
<link rel="alternate" type="application/rss+xml" title="Latest News" href="../rss_news.xml">
<link rel="alternate" type="application/rss+xml" title="Fact of the Week" href="../rss_facts.xml">
<link rel="alternate" type="application/rss+xml" title="New Online Adaptations" href="../rss_online_adaptations.xml">
<link rel="alternate" type="application/rss+xml" title="New Worldwide Adaptations" href="../rss_worldwide_adaptations.xml">
<link href="../libraries/aspx/diorg/css/style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="../DI.ico"/>
<script language="javascript">    AC_FL_RunContent = 0;</script>
<script src="../libraries/aspx/diorg/Scripts/AC_RunActiveContent.js" language="javascript"></script>
<script src="../libraries/aspx/diorg/Scripts/printer_friendly.js" language="javascript"></script>
<script src="../libraries/aspx/diorg/Scripts/forward_to_friend.js" language="javascript"></script>
</head>
<body>
<div id="divPrintReadyArea">
                    <table width="700" border="0" align="left" cellpadding="0" cellspacing="0">
                      <tr class="bodytext">
                        <td height="29"><table width="700" border="0" align="left" cellpadding="0" cellspacing="0">
                            <tr>
                              <td width="10" height="29" valign="top" background="../libraries/aspx/diorg/images/top_left_bg2.gif"></td>
                              <td width="578" height="29" background="../libraries/aspx/diorg/images/top_bg.gif" style="background-repeat:repeat-x; background-color: #e3e3e3;"  class="mainheadings_center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="81%" height="40" class="mainheadings_center"><strong>#Title</strong><em class="mainheadings_center2"> (#Date)</em></td>
                                    <td width="19%" height="35"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td width="31%" height="29" align="center"><a href="#PdfUrl" target="_blank"><img src="../libraries/aspx/diorg/images/download_pdf.gif" alt="Download PDF" width="25" height="19" border="0" /></a></td>
                                          <td width="33%" height="29" align="center"><a href="javascript:printSpecialForArticles('width=1,height=1');"><img src="../libraries/aspx/diorg/images/printer.gif" alt="Print News" width="25" height="19" border="0" /></a></td>
                                          <td width="36%" align="center"><a href="javascript:mailpageByTitle('#Title')"><img src="../libraries/aspx/diorg/images/forward.gif" alt="Print News" width="25" height="19" hspace="6" border="0" /></a></td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                </table></td>
                              <td width="10" height="29" valign="top" background="../libraries/aspx/diorg/images/top_right_bg2.gif"></td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr>
                        <td valign="top" background="../libraries/aspx/diorg/images/middle_bgcenter.gif">
                        <table  width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
                        #MainContent
                        </table></td>
                      </tr>
                      <tr>
                        <td valign="top"><table width="700" border="0" align="left" cellpadding="0" cellspacing="0">
                            <tr>
                              <td width="10" height="14" valign="top"></td>
                              <td width="578" height="14" background="../libraries/aspx/diorg/images/bottom_bg.gif"></td>
                              <td width="10" height="14" valign="top"></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table>
                  </div>
<map name="Map" id="Map">
  <area shape="rect" coords="10,9,212,70" href="../di_news.html" />
</map>
<!-- Start of StatCounter Code --> 
<script type="text/javascript">
    var sc_project = 4986744;
    var sc_invisible = 1;
    var sc_partition = 57;
    var sc_click_stat = 1;
    var sc_security = "4d9562de";
</script> 
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript>
<div class="statcounter"><a title="hits counter" href="http://www.statcounter.com/free_hit_counter.html" target="_blank"><img class="statcounter" src="http://c.statcounter.com/4986744/0/4d9562de/1/" alt="hits counter" > </a></div>
</noscript>
<!-- End of StatCounter Code --> 
<!-- Start of Google StatCounter Code --> 
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-8601953-3");
        pageTracker._trackPageview();
    } catch (err) { }</script> 
<!-- End of Google StatCounter Code -->
</body>
</html>